

.loading{
    position:fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: #242424;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
    color:#fff;
    transition:transform ease-in-out;

    > span {
        animation:gakuburu 0.1s infinite;
    }

    &.isActive {
        transform: translateY(-100%);
    }
}